.landing-root {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    background: var(--bg);
}

.entry-btn {
    cursor: none;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    margin: 1rem;
    padding: var(--space-2) var(--space-3);

    display: flex;
    justify-content: space-between;
    align-items: center;

    background: transparent;
    z-index: 10;
    letter-spacing: 2px;

    transition: transform 0.4s ease, opacity 0.4s ease;
}


.logo h3 {
    font-family: var(--font-main);
    font-size: var(--text-lg);
    font-weight: 600;
    color: var(--fg);
}

.contact a {
    text-decoration: none;
    color: var(--muted-dk);
}

.contact p {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: var(--text-md);
}

.footer {
    position: fixed;
    bottom: 1.5rem;
    right: 2rem;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    pointer-events: none;
}


.footer .text-wrapper {
    display: block;
    overflow: hidden;
}

.footer .text {
    display: inline-block;
    opacity: 0;
    filter: blur(2px);
    font-size: var(--text-sm);
    color: var(--muted-lt);
    font-family: var(--font-sec);
    animation: revealText 0.6s ease forwards;
    animation-delay: 2s;
}

@keyframes revealText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

.home-root {
    position: relative;
    width: 100%;
    height: 100%;
    background: var(--bg);
}

.home-navbar {
    position: fixed;
    letter-spacing: 2px;
    top: 0;
    left: 0;
    right: 0;
    padding: var(--space-2) var(--space-3);
    margin: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    background: transparent;
    z-index: 10;
    pointer-events: auto;
    transition: transform 0.4s ease,
        opacity 0.4s ease;
}

.navbar-hidden {
    transform: translateY(-100%);
    opacity: 0;
}

.home-root-grid {
    display: grid;
    position: relative;
    height: 250%;
    width: 100%;
    margin: 4rem 0rem;
    padding-top: 2vmax;
    padding-bottom: 4.3vmax;
    grid-template-columns: repeat(27, 1fr);
    grid-template-rows: repeat(21, 1fr);
    z-index: 1;
}

.exp-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--fg);
}

#pause-exp {
    grid-area: 2 / 2 / 7 / 16;
    z-index: 1;
}

#silence-exp {
    grid-area: 4 / 17 / 11 / 26;
    z-index: 1;
}

#single-exp {
    grid-area: 9 / 5 / 15 / 16;
    z-index: 1;
}

#neg-exp {
    grid-area: 16 / 11 / 20 / 26;
    z-index: 1;
}