.landing-root {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.entry-btn {
    cursor: none;
}

.navbar {
    display: flex;
    width: 100%;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    letter-spacing: 2px;
}

.navbar .logo h3 {
    font-family: var(--font-main);
    font-size: var(--text-lg);
    font-weight: 600;
    color: var(--fg);
}

.navbar .contact a {
    text-decoration: none;
    color: var(--muted-dk);
}

.navbar .contact p {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: var(--text-md);
}

.footer {
    width: 100%;
    position: relative;
    justify-content: end;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.footer .text-wrapper {
    display: block;
    overflow: hidden;
}

.footer .text {
    display: inline-block;
    opacity: 0;
    filter: blur(2px);
    font-size: var(--text-sm);
    color: var(--muted-lt);
    font-family: var(--font-sec);
    animation: revealText 0.6s ease forwards;
    animation-delay: var(--slow);
}

@keyframes revealText {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
        filter: blur(0);
    }
}