.landing-root {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}

.entry-btn {
    cursor: none;
}

.navbar {
    display: flex;
    width: 100%;
    margin: 1rem;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    letter-spacing: 2px;
}

.navbar .logo h3 {
    font-family: var(--font-main);
    font-size: var(--text-lg);
    font-weight: 600;
    color: var(--fg);
}

.navbar .contact a {
    text-decoration: none;
    color: var(--muted-dk);
}

.navbar .contact p {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: var(--text-md);
}

.footer {
    width: 100%;
    position: relative;
    justify-content: end;
    display: flex;
    align-items: center;
    margin: 1rem;
}

.footer .text-wrapper {
    display: block;
    overflow: hidden;
}

.footer .text {
    display: inline-block;
    opacity: 0;
    filter: blur(2px);
    font-size: var(--text-sm);
    color: var(--muted-lt);
    font-family: var(--font-sec);
    animation: revealText 0.6s ease forwards;
    animation-delay: 2s;
}

@keyframes revealText {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
        filter: blur(0);
    }
}

.lab-home {
    min-height: 100svh;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 12vh;
}

.room-frame {
    width: min(80vw, 900px);
    height: min(55vh, 520px);

    border: 1px solid var(--muted);
    background: transparent;

    opacity: 0;
    animation: revealFrame 0.6s ease forwards;
}

@keyframes revealFrame {
    to {
        opacity: 1;
    }
}

.home-root {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
}

.experiments-wrapper {
    width: 90%;
    height: 50%;
    border: .5px solid var(--muted-lt);
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    padding: var(--space-2);
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}