.box {
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    pointer-events: auto;
}

.box--active {
    z-index: 10;
}