.gate-wrapper {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

.gate-svg {
    width: clamp(55px, 6.5vw, 140px);
    aspect-ratio: 1 / 1;
    cursor: none;
}

.gate-svg:hover {
    filter: drop-shadow(0 0 8px rgba(85, 64, 64, 0.3));
}

.cursor-hidden #cursor-dot {
    opacity: 0;
}