.gate-wrapper {
    height: 100vh;
    display: grid;
    place-items: center;
}

.gate-svg {
    cursor: none;
}

.gate-svg:hover {
    filter: drop-shadow(0 0 8px rgba(85, 64, 64, 0.3));
}