:root {
    /* colors */
    --bg: #f2f3f1;
    --fg: #0b0c0b;
    --muted: #a1a6b0c3;
    --red: #df3d24;
    --yellow: #eee723;
    --blue: #013159;
    --sky: #43d1d6;
    --green: #3bb95c;

    /* Type Scale */
    --text-lg: 1.75rem;
    --text-md: 1rem;
    --text-sm: 0.75rem;

    /* Space */
    --space-1: 8px;
    --space-2: 16px;
    --space-3: 32px;
    --space-4: 64px;

    /* Motion */
    --ease: cubic-bezier(0.4, 0, 0.2, 1);
    --fast: 150ms;
    --slow: 900ms;
}